.accordion {
  &__head {}

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    transition: all .3s linear;
    border: none;
    padding: .5em 1em;
    font-size: 20px;
    background-color: #eee;
    position: relative;

    &:hover {
      background-color: #ddd;
    }

    &:focus {}
  }

  &__icon {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: #000;
      transition: all .3s linear;
      transform-origin: center;
      top: 50%;
      left: 50%;
    }

    &::before {
      width: 1em;
      height: 2px;
      transform: translate(-50%, -50%) rotate(0deg);
    }

    &::after {
      width: 2px;
      height: 1em;
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }

  &__cont {
    background-color: #fff;
  }

  &__inner {
    padding: 1em;
  }

  [role="tab"] {
    &[aria-expanded="true"] {
      &>* {
        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }

  [role="tabpanel"] {
    max-height: 100%;
    transition: max-height .3s ease;
    overflow-y: hidden;

    &[aria-hidden="false"] {
      max-height: 999px;
    }

    &[aria-hidden="true"] {
      max-height: 0;
    }
  }
}
